.section-3 {
  background-image: linear-gradient(#161615, rgba(9, 4, 30, 0.1), #161615),
    url(../Image/six.jpg);
  width: 100%;
  height: 155vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.last-section-first-div h4 {
  font-size: 70px;
  margin: 270px 120px 0 120px;
}

.play-button {
  display: flex;
  align-items: center;
  margin: 30px 120px 40px 120px;
}

.fa-circle-play {
  font-size: 58px;
  color: #d3d3d3;
  margin-right: 20px;
  cursor: pointer;
}
.last-section-first-div p {
  font-size: 15px;
  color: #d3d3d3;
  cursor: pointer;
}

/* -------- last section details --------- */

.last-section-second-div {
  display: flex;
  align-items: center;
  margin: 0 120px;
}

.last-section-details {
  max-width: 390px;
  font-size: 17px;
  line-height: 1.5;
  margin-right: 100px;
}

/* -------- videosn ----------- */

.video-1 {
  width: 280px;
  height: 160px;
  margin: 0 10px;
}

/* last */

.last-last {
  display: flex;
  margin: 0 120px;
}

.last-last p {
  font-size: 17px;
  color: #d3d3d3;
}

.fa-circle-check {
  font-size: 13px;
  margin-right: 5px;
  color: #d3d3d3;
}

/* ---------- last links -------- */

.last-links {
  position: absolute;
  bottom: 50px;
  left: 32%;
}

.fa-instagram,
.fa-youtube,
.fa-pinterest-p,
.fa-twitter {
  font-size: 50px;
  color: white;
  transition: 0.2s;
}

.fa-instagram {
  margin-right: 40px;
}

.fa-youtube,
.fa-pinterest-p {
  margin-inline: 40px;
}

.fa-twitter {
  margin-left: 40px;
}

.fa-instagram:hover,
.fa-youtube:hover,
.fa-pinterest-p:hover,
.fa-twitter:hover {
  color: red;
}
